/* Style for each button */
.report_button {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 8px 12px !important;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Button hover effects */
.report_button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Style for the DataTable container */
.report_card {
  /* overflow: auto; */
  background-color: #ffffff;
}

/* Table styling */
.report_card .p-datatable {
  border-radius: 8px;
  overflow: hidden;
}

/* Style for the header row */
.report_card .p-datatable-thead > tr > th {
  background-color: #e9e9e9 !important;
  color: #555;
  font-weight: 600;
  padding: 4px 4px;
  border: none !important;
  box-shadow: inset 0 0 0 0.5px #ddd !important;
  background-clip: padding-box;
  font-size: 14px !important;
  text-align: center;
}

.report_card .p-datatable-tbody > tr:hover {
  background-color: #f0f2f5 !important;
}

/* Style for the table rows */
.report_card .p-datatable-tbody > tr > td {
  padding: 8px 8px;
  color: #1e1e1e;
  border: 2px solid #ddd;
  font-size: 12px !important;
  font-weight: 500;
  border: none !important;
  box-shadow: inset 0 0 0 0.5px #ddd !important;
}

/* Styling the column headers when hovering */
.report_card .p-datatable-thead > tr > th:hover {
  background-color: #e6e6e6 !important;
}

/* Add spacing to the left of table content */
.report_card .p-datatable .p-datatable-wrapper {
  padding: 0 10px;
}

/* Styling the paginator and table borders */
.report_card .p-datatable .p-datatable-paginator {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.report_card .p-datatable .p-datatable-footer {
  text-align: center;
  padding: 10px 0;
}

/* Styling for the filters and sorting */
.report_card .p-datatable-filter-container {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.report_card .p-datatable-scrollable-header table,
.report_card .p-datatable-scrollable-body table,
.report_card .p-datatable table {
  border-collapse: collapse !important;
}

.report_card .p-datatable table {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
}

.report_card .p-datatable-scrollable-body table td,
.report_card .p-datatable-scrollable-body table tr,
.report_card .p-datatable-tbody > tr {
  border: none !important;
}

/* Force any span inside the table body to match the 12px font size */
.report_card .p-datatable-tbody > tr > td span {
  font-size: 12px !important;
}

.fit-content-protection-table .p-datatable-thead > tr > th,
.fit-content-protection-table .p-datatable-tbody > tr > td {
  min-width: max-content !important;
  white-space: nowrap !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.custom-centered-table .p-column-header-content {
  display: flex;
  justify-content: center !important;
  align-items: center;
  gap: 0.2rem;
}

.custom-centered-table .p-column-filter-row {
  display: flex;
  justify-content: center !important;
  align-items: center;
}
